deprecated/
birdclef-2026.zip
recording_location.txt
sample_submission.csv
taxonomy.csv
test_soundscapes/
train.csv
train_audio/
train_soundscapes/
train_soundscapes_labels.csv
models/
submission.csv
__pycache__/
*.pyc
